In [6]:
strng = '1' * 104
print()
while ('111' in strng):
    strng = strng.replace('111', '22', 1)
    strng = strng.replace('222', '11', 1)
print(strng)

221

In [7]:
a = "1" + "9"*100
print(a)
while(("19" in a) or ("299" in a) or("3999" in a)):
    a = a.replace("19", "2", 1)
    a = a.replace("299", "3", 1)
    a = a.replace("3999", "1", 1)
print("результат : ", a)

19999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999
результат :  39

In [8]:
a = "8"*70
print(a)
while(("2222" in a) or ("8888" in a)):
    a = a.replace("2222", "88", 1)
    a = a.replace("8888", "22", 1)
print("результат : ", a)

8888888888888888888888888888888888888888888888888888888888888888888888
результат :  22

In [9]:
a = "1" + "8"*99 + "1"
while(("81" in a) or ("882" in a) or ("8883" in a)):
    a = a.replace("81", "2", 1)
    a = a.replace("882", "3", 1)
    a = a.replace("8883", "1", 1)
print("результат : ", a)

результат :  13

In [10]:
a = "1"+"0"*33
print(a)
while (('1' in a ) or ('100' in a )):
    if ('100' in a):
        a = a.replace('100', '0001', 1)
    else:
        a = a.replace('1', '00', 1)
print(len(a))

1000000000000000000000000000000000
51

In [11]:
count = 0 
for i in range(10000,100000):
    a = oct(i)[2::]
    if a.count("6") == 1:
        index6 = a.index('6')
        if index6 == 0:
            if int(a[index6+1]) % 2 == 0:
                count += 1
        elif index6 == (len(a)-1):
            if int(a[index6-1]) % 2 == 0:
                count += 1
        elif (int(a[index6-1])%2 == 0) and (int(a[index6+1])%2 == 0):
            count += 1
print(count)

8413

In [12]:
# Дана программа для редактора:
# НАЧАЛО
# ПОКА нашлось (25) ИЛИ нашлось (355) ИЛИ нашлось (555)
#  ЕСЛИ нашлось (25)
#  ТО заменить (25, 5)
#  КОНЕЦ ЕСЛИ
#  ЕСЛИ нашлось (355)
#  ТО заменить (355, 52)
#  КОНЕЦ ЕСЛИ
#  ЕСЛИ нашлось (555)
#  ТО заменить (555, 3)
#  КОНЕЦ ЕСЛИ
# КОНЕЦ ПОКА
# КОНЕЦ
# На вход приведённой выше программе поступает строка, начинающаяся с цифры "2", а затем содержащая n цифр "5" (n > 3).
# Определите наименьшее значение n, при котором в строке, получившейся в результате выполнения программы, количество цифр «3» равно 2.
for x in range(3,50):
    c = "2"+"5"*x
    while("25" in c or "355" in c or "555" in c):
        c = c.replace('25','5',1)
        c = c.replace('355','52',1)
        c = c.replace('555','3',1)
    if c.count("3") == 2:
        print(x)
        print(c)
        break

18
323

In [16]:
# На вход приведённой выше программе поступает строка, содержащая n цифр 5.
# Определите наименьшее значение n, большее 100 и кратное 9, при котором в результат
# работы алгоритма получится строка с максимальным числовым значением.
for n in range(100,1000):
    if n % 9 == 0:
        a = "5" * n
        while("555" in a or '11' in a or '2' in a):
            a = a.replace('555','1',1)
            a = a.replace('11','25',1)
            a = a.replace('2','5',1)
        if a == '155':
            print(n)
            break
# Для ответа берем первое выведенное число(117)

117

In [ ]:
a = '5'*54+'7'
while (("722" in a )or ('557' in a)):
    a = a.replace("722","57",1)
    a = a.replace("557", "72", 1)
print(a)

In [ ]:
a = '1'+'2'*177
print(a)
while(('12' in a) or ('3322' in a) or ('2222' in a)):
    if ('12' in a):
        a = a.replace('12','33')
    elif ('2222' in a):
        a = a.replace('2222','1')
    elif ('3322' in a):
        a = a.replace('3322','21')

In [ ]:
s = a.count('3')*3+a.count('2')*2+a.count('1')
print(s)
print(a)
    # if s == 218:
    #     print(n)
    #     break

In [ ]:
for x3 in range(100):
    for x2 in range(100):
        for x1 in range(100):
            q = '0' + x1*'1'+ x2*'2'+ x3*'3' + '0'
            x = q
            while '00' not in q:
                q = q.replace('01','103')
                q = q.replace('02', '201')
                q = q.replace('03', '2110')
            if q.count('1') == 196 and q.count('2') == 75 and q.count('3') == 0:
                print(x,len(x))

In [ ]:
for n in range(41, 100):
    s = '0' + '1' * 40 + '2' * n + '0'
    while '00' not in s:
        s = s.replace('02', '101', 1)
        s = s.replace('11', '2', 1)
        s = s.replace('012', '30', 1)
        s = s.replace('010', '00', 1)
    summa = (s.count('1')+2*s.count('2')+3*s.count('3'))
    c = 2
    while (summa%c!=0):
        c+=1
    if c == summa:
        print(n)